* {

    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

h3 {

    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 7px ;
    

}

.b1 {

    margin-left: 10px;

}

.b2 {

    margin-left: 10px;

}

.b3 {

    margin-left: 10px;

}

button {

    width: auto;
    height: 30px;
    padding-left:10px;
    padding-right: 10px;

}

.status {
    margin: auto;
    width: 50%;
    margin-left: 10px;

}

.main {

    background-color: gray;
    height: auto;
    padding: 5px;
}